body {
    background-color: #fff;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(212,175,55);
    font-size: 1.2rem;
    /* min-width: 80rem; */
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}

/* .choice-prefix {
    color: white;
    padding: 2rem 2.5rem;
}
 */
 
 .choice-text {
    padding-left: 0.5rem;
    width: 100%;
}

/* #question {
    padding-top: 2rem;
    font-size: 1.5rem;
} */

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

/* Heads up Display */

#hud {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

.hud-item {
    font-size: 1.5rem;
}

.hud-prefix {
    text-align: center;
/*     font-size: 2rem; */
    padding: 10px 0;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 10rem;
    height: 2rem;
    border: 0.2rem solid rgb(11, 223, 36);
    border-radius: 50px;
    margin: 0.6rem 0 4rem;
}


#progressBarFull {
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0%;
}


/* @media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
} */