@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Cardo', serif;
}

body {
    background-color: #fff;
    padding: 5px;
}

h1,h2 {
    font-size: 25px;
    margin: 10px 0 10px;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items:center;
}

.btn {
    font-size: 25px;
    padding: 16px 0;
    width: 15rem;
    text-align:center;
    margin-bottom: 1rem;
    text-decoration:none;
    color: rgb(0,0,0);
/*     background: rgb(212,175,55); */
    background:linear-gradient(180deg, rgb(212,175,55),rgb(255,165,0));
    border-radius: 4px
}

.btn:hover {
    cursor: pointer;
    height: 2rem;
/*     transform: scale(1.0); */
}

/* .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
} */

#highscore-btn {
    background:linear-gradient(180deg, rgb(238, 75, 43),rgb(136, 8, 8));
}

