@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Cardo", serif;
}

body {
  background-color: #fff;
  padding: 5px;
}

h1,
h2 {
  font-size: 25px;
  margin: 10px 0 10px;
  text-align: center;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 1.2rem;
  padding: 16px 0;
  width: 15rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  /*     background: rgb(212,175,55); */
  background: linear-gradient(180deg, rgb(212, 175, 55), rgb(255, 165, 0));
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  height: 2rem;
  /*     transform: scale(1.0); */
}

/* .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
} */

#highscore-btn {
  background: linear-gradient(180deg, rgb(238, 75, 43), rgb(136, 8, 8));
}

/* End of general style */
.container {
  position: relative;
  width: 80%;
  height: 100vh;
  margin: auto;
}

header {
  cursor: pointer;
  justify-content: space-between;
}

#nav {
  display: none;
}

nav .nav-level {
  width: fit-content;
  padding: 0.2em;
  height: fit-content;
  margin: 0.2em;
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 4px;
  background: rgb(212, 175, 55);
  font-size: 1.2rem;
  /* min-width: 80rem; */
}

.choice-container:hover {
  cursor: pointer;
  transform: scale(1.02);
  transform: transform 100ms;
}

/* .choice-prefix {
  color: white;
  padding: 2rem 2.5rem;
}
*/

.choice-text {
  padding-left: 0.5rem;
  width: 100%;
}

/* #question {
  padding-top: 2rem;
  font-size: 1.5rem;
} */

.correct {
  background: linear-gradient(
    32deg,
    rgba(11, 223, 36) 0%,
    rgb(41, 232, 111) 100%
  );
}

.incorrect {
  background: linear-gradient(
    32deg,
    rgba(230, 29, 29, 1) 0%,
    rgb(224, 11, 11, 1) 100%
  );
}

/* Heads up Display */

#hud {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

.hud-item {
  font-size: 1.5rem;
}

.hud-prefix {
  text-align: center;
  /*     font-size: 2rem; */
  padding: 10px 0;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 10rem;
  height: 2rem;
  border: 0.2rem solid rgb(11, 223, 36);
  border-radius: 50px;
  margin: 0.6rem 0 4rem;
}

#progressBarFull {
  height: 100%;
  background: rgb(11, 223, 36);
  width: 0%;
  border-radius: 50px;
}

#questions-page,
#end-page {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
}

/* @media screen and (max-width: 768px) {
  .choice-container {
      min-width: 40rem;
  }
} */
